<%
  # 親ビューの“意図”を正しく受け取り意図しないエラーを防ぐ[.fetch]
  routes_data = local_assigns.fetch(:routes, false)
  show_actions = local_assigns.fetch(:show_actions, false)
  custom_card_class = local_assigns.fetch(:card_class, 'bg-light')
%>

<% if routes_data.present? %>
  <% routes_data.each do |route| %>
    <div class="<%= custom_card_class %> rounded-3 p-3 mb-3">
      <!-- ルート情報-->
      <div class="flex-grow-1 me-3">
        <div class="d-flex align-items-center mb-2">
          <span class="badge bg-primary">
            <i class="fas fa-train me-1"></i>
            <%= station[:name] %>
          </span>
        </div>
        <!-- 情報鮮度管理メッセージ -->
        <small class="d-block mb-2 <%= route_freshness_class(route) %>">
          <%= route_freshness_message(route) %>
        </small>
        
        <%= link_to route_path(route), class: "text-decoration-none d-block mb-2" do %>
          <span class="fw-bold text-primary">
            <i class="fas fa-location-dot text-success me-1"></i>
            <%= route.gate&.name || "出発地未設定" %>
            <i class="fas fa-arrow-right mx-2 text-muted"></i>
            <i class="fas fa-flag-checkered text-danger me-1"></i>
            <%= route.exit&.display_name || "目的地未設定" %>
          </span>
        <% end %>

        <p class="mb-2 text-muted small border-bottom pb-2 text-break">
          <%= route_description_summary(route, length: 60) %>
        </p>

        <!-- タグリスト -->
        <% if route.tags.present? %>
          <div class="mb-4 border-bottom">
            <% route.tags.each do |tag| %>
              <span class="d-inline-block me-2 mb-2 p-1 bg-white "><%= tag.name %></span>
            <% end %>
          </div>
        <% end %>

        <small class="d-block text-lg-end mb-2">
          <%= t('routes.show.updated_at') %> : 
          <%= l(route.updated_at, format: :route_list) %>
        </small>
        <!-- アクションボタン -->
        <% if show_actions %>
          <%= render 'routes/action_buttons', route: route %>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="text-center py-4">
    <i class="fas fa-inbox text-muted mb-2"></i>
    <p class="text-muted mb-0">まだルートが投稿されていません</p>

    <% if current_user&.guest? %>
      <small class="d-block">(会員登録後に投稿できます)</small>
      <button class="btn btn-secondary mt-2" disabled>
        最初のルートを作成
      </button>
    <% else %>
      <%= link_to "最初のルートを作成", new_route_path, class: "btn btn-primary mt-2" %>
    <% end %>
  </div>
<% end %>
